@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap');

* {
    background-color: #F3EFF5;
}

.header {
    padding-top: 30px;
    display: flex;
    font-family: 'Spartan', sans-serif;
    letter-spacing: 0.46rem;
}

.header_name {
    padding-top: 10px;
    margin-left: 20px;
}

.header_secondary {
    padding-top: 10px;
    margin-left: 20px;
    color: #6C6C6C;
    font-weight: lighter;
}

.Section {
    padding: 60px 90px;
}

.Left_Section {
    background: url(../Assets/images/Landing_Left_Bg.png);
    background-repeat: no-repeat;
    height: 100vh;
}